<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Define where logs will be written to -->
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/error/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="infoFile" xsi:type="File" fileName="${basedir}/logs/info/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <!-- Skip non-critical Microsoft logs and log only own logs -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minLevel="Error" writeTo="errorFile" />
    <logger name="*" maxLevel="Warn" writeTo="infoFile" />
    <logger name="*" writeTo="console" />
  </rules>
</nlog>


